<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="CGMinerWorkingDirectory" value="C:\cgminer-3.7.2-windows" />
    <add key="CGMinerArguments" value="" />
    <add key="WaitforMSIAfterburner" value="true" />
    <add key="WaitforInternetConnection" value="true" />
    <add key="DelayStart" value="60000" />
  </appSettings>
</configuration>